<h1>All Students</h1>

<% @students.each do |student| %>
  <p>First name: <%= student.student_name()%> </p>
  <!-- <p>Second name: <%= student.second_name()%> </p> -->
  <!-- <p>House: <%= student.house()%> </p>
  <p>Age: <%= student.age()%></p> -->
  <hr />
<% end %>
