<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Hogwarts!</title>
  </head>
  <body>
    <nav>
      <ul>

          <a href="/students">Students</a><br>
          <a href="/students/new">Add a Student</a>

      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
